<div class = "controls container fixed bottom">
	<div id = "controls" >
		<span id = "previous">
			<span class = "first"></span>
			<span class = "second"></span>
		</span>
		<span id = "play_pause" class = "play"></span>
		<span id = "next">
			<span class = "first"></span>
			<span class = "second"></span>
		</span>

		<span id = "currTime"><span class = "number"></span></span>
		<span id = "timebar">
			<span class = "progress"></span>
		</span>
		<span id = "duration"><span class = "number"></span></span>
		<span id = "volumeKnob"></span>

	</div>
	<script src = "/webpage/js/controls.js"></script>
	<link rel="stylesheet" href="/webpage/css/controls.css">
</div>