<div class = "entitybar container">
	<div id = "entitybar">
		<ul class = "pretty">
			<li class = "searchBar container">Search bar</li>
			
			<li class = "songs pointer" onclick = "showAllSongs()">All songs</li>
			
			<li class = "playlists container">
				<h2> Playlists <button onclick = "newPlaylist()">+</button></h2>
				<ul class = "pretty playlists"></ul>
			</li>
		</ul>
	</div>
	<script src = "/webpage/js/entitybar.js"></script>
	<link rel="stylesheet" href="/webpage/css/entitybar.css">
</div>