<div class = "entitybar container">
	<div id = "entitybar">
		<ul>
			<li class = "searchBar container">Search bar</li>
			
			<li class = "songs">All songs</li>
			
			<li class = "playlists container">
				<h2> Playlists <button onclick = "newPlaylist()">+</button></h2>
				<ul class = "playlists"></ul>
			</li>
		</ul>
	</div>
	<script src = "/webpage/js/entitybar.js"></script>
	<link rel="stylesheet" href="/webpage/css/entitybar.css">
</div>