<div class = "header container">
	Hello
	<button onclick = "rescan()">Rescan</button>
	<button onclick = "watchPlaylist()">Add new playlist to watch</button>
	
	<script src = "/webpage/js/header.js"></script>
</div>