<div class = "header container awesome-red">
	<button class = "ph-button ph-btn-blue btn-small" onclick = "rescan()">Rescan library</button>
	<button class = "ph-button ph-btn-blue btn-small" onclick = "watchPlaylist()">Add new playlist to watch</button>
	
	<script src = "/webpage/js/header.js"></script>
</div>