<div class = "mainView container">
	<div class = "list container song">
		<div class = "listTitles">
			<span class = "flex grow textAlignCenter first">Title</span>
			<span class = "flex grow last alignRight">Duration</span>
		</div>
		<ul id = "songList" class = "pretty">
		</ul>
	</div>

	<script src = "/webpage/js/mainView.js"></script>
	<link rel="stylesheet" href="/webpage/css/mainView.css">
</div>