.entitybar.container{
	background-color: red;
	width: 250px;
	padding-top: 20px;
}

.entitybar ul{
	list-style-type: none;
	margin: 0px;
}

.entitybar ul li{
	padding: 10px;
}

.entitybar h2{
	font-weight: normal;
}