.entitybar.container{
	width: 250px;
	padding-top: 20px;
	border: 2px solid black;
}

.entitybar ul{
	list-style-type: none;
	margin: 0px;
}

.entitybar ul li{
	padding: 10px;
}

.entitybar h2{
	font-weight: normal;
}

.btn-newPlaylist{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 15px;
	padding-right: 15px;
}